<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/scripts/main.js">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Aria</title>
</head>
<body>
   

    <div class="container-fluid">
            <div class="row nav-bar">
                        <div class="navbar-brand aria">
                            <a class="navbar-item" href="/#home">Aria</a>
                        </div>
                        <div>
                            <a class="navbar-item sign-up" id="sign-up">Sign Up</a>
                        </div>
                        <div>
                            <a class="navbar-item sign-in" id="sign-in">Sign In</a>
                        </div>  
            </div>
    </div>


    <div class="container-fluid">
        <div class="row landing-img">
            <a href="/#recipes"><button class="hero-button"><b>See Our Recipes</b></button></a>
            <p class="hero-heading">Fresh Made 100% Organic Dog Food</p>
            <p class="hero-description"><strong>Let us help you stop feeding your dog that CRUDDY food! Freshly made, nutritionally balanced, 100% organic dog food you can feel great about</strong></p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row w-100">
            <section class="col infographics">
                <ul>
                    <i class="fas fa-dog"></i>
                    <li class="graphics"><p class="info">Human-Grade Food</p></li>
                    <li class="graphics"><p class="human-grade">The best quality ingredients for all of your family members</p></li>
                </ul>
            </section>

            <section class="col infographics">
                <ul>
                    <i class="fas fa-seedling"></i>
                    <li class="graphics"><p class="info">100% Organic Ingredients</p></li>
                    <li class="graphics"><p class="organic">Good for your pet, good for the Earth</p></ul></li>
                </ul>
            </section>

            <section class="col infographics">
                <ul>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <li class="graphics"><p class="info">Grassfed and Pasture Raised</p></li>
                    <li class="graphics"><p class="grassfed">Humane meat to keep your pet and the ecosystems healthy</p></li>    
                </ul>
            </section>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <img class="bowl" src="https://perfectlyrawsome.com/wp-content/uploads/2019/06/49432667_2246837515588357_7921554165103329280_o.jpg">
        </div>
    </div>
    

    <div class="container-fluid" id="recipes">
        <div class="row w-100">
            <h1 class="recipe-header">Pick from Our 3 Amazing Recipes</h1>
            <p class="recipe-header-description">All Veterinary Formulated Recipes</p>
            <section class="card-index">  
                <% allRecipes.forEach((recipe, index) => { %>
                    <div class="card">
                        <div class="card__header"><p><%= recipe.name %></p></div>
                        <div class="card__content">
                            <img src="<%= recipe.img %>">
                            <p><%= recipe.description %></p>
                        </div>
    
                        <div class="card__footer"><a href="/<%= recipe._id %>"><button><%= recipe.name %></button> </a> </div>  
                    </div>
                    <% }); %>

            </section>
        </div>
    </div>

    <div class="container-fluid" id="recipes">
        <div class="row w-100">
            <h1 class="recipe-header">Ready, Set, Go!</h1>
            <p class="recipe-header-description">How Our Service Works </p>
            <section class="hiw-index">  
                    <div class="card hiw">
                        <div class="hiw__header"><p> recipe.name </p></div>
                        <div class="hiw__content">
                            <img>
                            <p><recipe.description %></p>
                        </div>
    
                        <div class="hiw__footer"><a href=""><button>recipe.name </button> </a> </div>  
                    </div>
            </section>
            <section class="hiw-index">  
                <div class="card hiw">
                    <div class="hiw__header"><p> recipe.name </p></div>
                    <div class="hiw__content">
                        <img src="">
                        <p><recipe.description %></p>
                    </div>

                    <div class="hiw__footer"><a href=""><button>recipe.name </button> </a> </div>  
                </div>
        </section>
        </div>
    </div>
    

    

    
    
</body>
</html>